[Unit]
Description=Enable UART '/dev/ttyTHS1'
After=network.target

[Service]
ExecStart=/home/cart/ros2_ws/src/antUV/acDevices/antobot_devices_gps/script/enable_UART.sh

[Install]
WantedBy=multi-user.target
